/* GLOBAL RESET AND FONT */

@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;700&family=Poppins:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Kanit", sans-serif;
}

/* HEADER AND MENU */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #06334b;
  padding: 5px 10px;
  width: 100%;
}

.logo-mobile {
  display: none;
}

.link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.menu a {
  color: #6aa5bf;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  margin-left: 20px;
}

.menu a:hover {
  background-color: #f5c761;
  padding: 10px;
  border-radius: 10px;
  opacity: 0.5;
}

.certik {
  width: 100px;
  height: 50px;
}

.header-button {
  background-color: #0b9ed8;
  color: #ffffff;
  width: 160px;
  height: 32px;
  border-radius: 25px;
  border: none;
  padding: 8px 16px;
  font-weight: bold;
  box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
  font-size: 16px;
  padding-top: 5px;
}

.header-button:hover {
  opacity: 0.7;
}

/* CONTAINER MAIN CONFIG */

.container-main {
  background-color: #081720;
  height: 800px;
  display: flex;
  justify-content: center;
}

/* CONTENT LEFT */
.content {
  background-image: url("./assets/background-dark.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  width: 98%;
  height: 750px;
  margin-top: 20px;
  border-radius: 75px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 200px 100px;
  gap: 20px;
}

.title {
  font-style: bold;
  font-size: 64px;
  line-height: 70px;
  width: 580px;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 50px;
  padding-left: 90px;
}

.text-main {
  font-size: 32px;
  line-height: 48px;
  color: #ffffff;
  padding-left: 90px;
  width: 600px;
  font-style: italic;
}

.button-box {
  display: flex;
  justify-content: center;
  padding-left: 120px;
  gap: 20px;
}

.button-blue {
  width: 185px;
  height: 48px;
  background: #0b9ed8;
  box-shadow: inset 0px -1px 0px rgba(14, 14, 44, 0.4);
  border-radius: 25px;
  border: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
}

.button-yellow {
  width: 185px;
  height: 48px;
  background: #f5cf00;
  box-shadow: inset 0px -1px 0px rgba(14, 14, 44, 0.4);
  border-radius: 25px;
  border: none;
  color: #000000;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
}

/* CONTENT RIGHT */

.doge {
  position: absolute;
  left: 1175.28px;
  right: 283.19px;
  top: 214.64px;
  bottom: -50px;

  width: 430px;
  height: 600px;
}

.coin1 {
  position: absolute;
  left: 966.24px;
  right: 822.98px;
  bottom: 111.09px;
  left: 966.2px;
  top: 573.5px;

  height: 79.9px;
  width: 98.7px;

  transform: rotate(30deg);
}

.coin2 {
  position: absolute;
  left: 1054.53px;
  right: 755.19px;
  bottom: -38.22px;
  left: 966.2px;
  top: 722.86px;

  height: 78px;
  width: 80px;
}

.coin3 {
  position: absolute;
  left: 1734.62px;
  right: 18.88px;
  top: 573.47px;

  height: 100px;
  width: 135px;
}

.coin4 {
  position: absolute;
  height: 80px;
  left: 1800.96px;
  right: -25.24px;
  top: 450.34px;

  height: 80px;
  width: 78px;
  transform: rotate(30deg);
}

.coin5 {
  position: absolute;
  left: 1700.61px;
  right: -13.22px;
  top: 365px;

  height: 80px;
  width: 107.6px;
  transform: rotate(180deg);
}

.coin6 {
  position: absolute;
  height: 60px;
  left: 1757.3px;
  right: 56.62px;
  top: 191.16px;

  height: 60px;
  width: 74px;
}

/* SECTION SMART-CHAIN CONFIG */

.smart-chain {
  background-image: linear-gradient(
    to right,
    #091822,
    #0b1c28,
    #0c202e,
    #0e2434,
    #0f283a,
    #0f283a,
    #0f283a,
    #0f283a,
    #0e2434,
    #0c202e,
    #0b1c28,
    #091822
  );
  height: 900px;
}

.title-2 {
  color: #ffffff;
  text-align: center;
  font-size: 40px;
  line-height: 44px;
}

.subtitle {
  color: #ffffff;
  font-weight: 400;
  width: 300px;
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
  margin-left: 40%;
}

.box-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 20px;
  margin-bottom: 50px;
}

.box-top {
  display: flex;
}

.box-bottom {
  display: flex;
}

.box-child {
  background-color: #06334b;
  width: 500px;
  height: 150px;
  border-radius: 30px;
  padding: 20px;
  margin-left: 20px;
}

.text-box-child {
  color: #4396d4;
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}

.text-box-2 {
  color: #ffffff;
  font-style: italic;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.get {
  color: #ffffff;
  text-align: center;
  font-weight: 600;
  font-size: 48px;
  line-height: 53px;
}

/* FINAL SITE */

.final-box {
  display: flex;
  background-image: linear-gradient(
    to right,
    #091822,
    #0b1c28,
    #0c202e,
    #0e2434,
    #0f283a,
    #0f283a,
    #0f283a,
    #0f283a,
    #0e2434,
    #0c202e,
    #0b1c28,
    #091822
  );
  justify-content: center;
  gap: 100px;
  padding-bottom: 200px;
}

.final-title {
  color: #ffffff;
  font-size: 64px;
  font-weight: 600;
  line-height: 70px;
  width: 600px;
}

.final-text {
  color: #ffffff;
  font-weight: 400;
  font-size: 32px;
  font-style: italic;
  line-height: 48px;
  width: 800px;
  height: 250px;
}

.text-box-final {
  display: flex;
  flex-direction: column;
}

.final-button-blue {
  width: 175px;
  height: 48px;
  background: #0b9ed8;
  box-shadow: inset 0px -1px 0px rgba(14, 14, 44, 0.4);
  border-radius: 5px;
  border: none;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
}

.final-button-blue:hover {
  opacity: 0.8;
}

.final-button-transparent {
  width: 175px;
  height: 48px;
  border: solid 2px #4396d4;
  color: #4396d5;
  background-color: transparent;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 50px;
}

.final-button-transparent:hover {
  opacity: 0.8;
}

.last-image {
  height: 500px;
}

.last-image-coin {
  width: 500px;
  position: absolute;
  left: 1100px;
  top: 1500px;
}

/* MOBILE CONFIG */
@media (max-width: 415px) {
  /* HEADER */
  .logo-mobile {
    display: block;
  }

  .logo {
    display: none;
  }

  .menu {
    display: none;
  }

  .language {
    display: none;
  }

  .wallet {
    display: none;
  }

  .config {
    display: none;
  }

  /* MAIN CONTENT */

  .content {
    border-radius: 0;
    margin-top: 0;
    width: 100%;
    background-position: left;
    padding: 10px;
    height: 600px;
    padding: 0;
    justify-content: center;
    align-items: center;
    gap: 0;
  }

  .title {
    font-size: 45px;
    width: 450px;
    padding: 40px 50px 0 50px;
    text-align: center;
    line-height: 60px;
    z-index: 2;
  }

  .text-main {
    font-size: 12px;
    color: #ffffff;
    width: 490px;
    line-height: 20px;
    font-style: italic;
    text-align: center;
    padding: 40px;
    padding-top: 15px;
    z-index: 2;
  }

  .button-box {
    padding-left: 0px;
    gap: 30px;
  }

  .button-blue {
    width: 200px;
    height: 48px;
    font-size: 17px;
    z-index: 2;
  }

  .button-yellow {
    width: 200px;
    height: 48px;
    font-size: 17px;
  }

  .doge {
    position: sticky;
    top: 500px;
    left: 60px;
    width: 220px;
    height: 300px;
    transform: rotate(12deg);
  }

  .coin1 {
    position: absolute;

    width: 50;
    top: 400px;
    left: -25px;
    z-index: 1;
    transform: rotate(-85deg);
  }

  .coin2 {
    position: absolute;
    top: 180px;
    left: 10px;

    height: 80px;
    width: 80px;
  }

  .coin3 {
    position: absolute;
    left: 280px;
    top: 500px;

    height: 60px;
    width: 60px;
    transform: rotate(-10deg);
  }

  .coin4 {
    position: absolute;
    left: 310px;
    top: 380px;
    height: 50px;
    width: 50px;
  }

  .coin5 {
    position: absolute;
    left: -40px;
    top: 290px;
    height: 60px;
    width: 70px;
  }

  .coin6 {
    position: absolute;
    left: 50px;
    top: 310px;
    height: 70px;
    width: 70px;
    transform: rotate(120deg);
  }

  .smart-chain {
    background-image: none;
    background-color: #081720;
    height: 1300px;
  }

  .title-2 {
    color: #ffffff;
    text-align: center;
    font-size: 32px;
    line-height: 44px;
    margin-top: -160px;
  }

  .subtitle {
    color: #ffffff;
    font-weight: 400;
    width: 300px;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    margin-left: 10%;
  }

  .box-top {
    flex-direction: column;
    gap: 20px;
  }

  .box-bottom {
    flex-direction: column;
    gap: 20px;
  }

  .box-child {
    background-color: #06334b;
    width: 320px;
    height: 90px;
    margin-left: 0px;
  }

  .text-box-child {
    text-align: start;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }

  .text-box-2 {
    color: #ffffff;
    font-style: italic;
    text-align: end;
    font-weight: 400;
    font-size: 16px;
    line-height: 0px;
  }

  .get {
    color: #ffffff;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 20px;
  }

  /* FINAL SITE */

  .final-box {
    display: flex;
    background-image: linear-gradient(to right, #091822, #0b1c28);
    justify-content: center;
    flex-direction: column;
    gap: 100px;
    padding-bottom: 10px;
  }

  .final-title {
    font-size: 44px;
    line-height: 40px;
    width:300px;
    text-align: center;
    margin: 20px auto;
    margin-bottom: 50px;

  }
  .final-text {
    font-size: 14px;
    line-height: 18px;
    width: 315px;
    text-align: center;
    margin: 0 auto;
  }
  .box-button-final{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -100px;
  }

 .final-button-transparent{
    margin-left: 0;
    margin-top: 20px;
 }

 .last-image{
    display: none;
 }

 .last-image-coin{
    display: none;
 }

}
